@use "../base/normalize";
@use "../base/base";
@use "../components/components";

main {

    h1 {
        @include components.h1-title();
    }

    section.left {
        @extend .right;
        margin: 30px 0;
    }

    article.flowerarticle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
    }

    h2 {
        @include components.h2-title();
    }

    blockquote {
        @include components.text();
    }

    section.right {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    section.right:last-child {
        margin-bottom: 50px;
    }

    section.reference {
        margin: 50px 0 5px 0;
    }

    section.reference p {
        font-family: base.$font-stack;
        font-size: 0.9rem;
        text-align: right;
        margin: 5px 0 5px 0;
    }

    img.flowerpic {
        margin: 20px 0;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}

@media (min-width: 768px) {

    section.right {
        flex-wrap: wrap;
    }

    img {
        width: unset;
    }

    section.left img {
        margin-right: 20px;
    }

    section.right img {
        margin-left: 20px;
    }

}

@media (prefers-color-scheme: dark) {

    body {
        background-color: base.$bgcolor-main-darkm;
    }


}