@use "../base/normalize";
@use "../base/base";
@use "../components/components";

body {
    position: relative;
    min-height: 100vh;
    background-color: base.$bgcolor-main;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .wrappermain {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        background-color: base.$bgcolor-wrapper;
        padding: 20px;
        position: relative;
        height: 100%;
    }

    .modediv {
        position: absolute;
        top: 10px;
        margin: 10px;
        right: 10px;
    }

    h1 {
        @include components.h1-title();
    }

    h2 {
        @include components.h2-title();
        margin-top: 20px;
    }

    article.mainarticle {
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto 0 auto;
        max-width: 700px;
    }

    p {
        @include components.text();
    }

    ul {
        margin: 20px;
    }

    li {
        @include components.text();
        padding: 5px;
    }

}

.banner {
    @include base.gradient-background-banner();
}


@media (min-width: 768px) {

    .mainarticle {
        width: 48%;
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$bgcolor-main-darkm;
    }

    .lighttext {
        @if (prefers-color-scheme: dark) {
            display: none;
        }

        @else {
            display: flex;
            @include components.mode-box();
        }
    }

    .darktext {
        @if (prefers-color-scheme: dark) {
            display: flex;
            @include components.mode-box();
            background-color: base.$bgcolor-main-darkm;
            color: base.$text-color-active-darkm;
        }

        @else {
            display: none;
        }
    }
}

@media (prefers-color-scheme: light) {
    .darktext {
        @if (prefers-color-scheme: light) {
            display: none;
        }

        @else {
            display: flex;
            @include components.mode-box();
        }
    }

    .lighttext {
        @if (prefers-color-scheme: light) {
            display: flex;
            @include components.mode-box();
        }

        @else {
            display: none;
        }
    }
}